.doc-dash-panel {
  display: flex;
}

.panel-title {
  font-size: 28px;
  padding: 18px;
  font-weight: 600;
}

.panel-body {
  padding: 24px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 20px;
}
