<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<p>File Uploaded! </p>
		<p>Name: <%=fileName%> </p>
		<p>Path: <%=fileHash%> </p>
		<p><a href="https://ipfs.io/ipfs/<%=fileHash%>"><%=fileHash%></a></p>
	</div>